---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
          itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
    </p>

  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
  {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<script src="https://unpkg.com/scrollnav@3.0.1/dist/scrollnav.min.umd.js"></script>
<script>
  const content = document.querySelector('.post-content');
  scrollnav.init(content, {
    sections: 'h2',
    subSections: 'h3,h4',
    debug: false,
    easingStyle: 'linear',
  });
</script>
<style>
  .scroll-nav {
    float: left;
    margin-left: -18rem;
    position: fixed;
  }

  .scroll-nav__item {
    overflow: hidden;

  }

  .scroll-nav__item>a {
    color: gray;
  }
  .scroll-nav__sub-item {
    overflow: hidden;
  }

  .scroll-nav__sub-item > a {
    color: gray;
  }

  .scroll-nav__item--active>a {
    color: black;
    font-weight: bold;
  }
</style>